body {
  background-color: #2d2d2d;
  color: #fdfdfd; 
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
    height: 60px;
}

.course {
    text-align: center;
    display: inline-block;
    font-size: 30px;
    padding-bottom: 30px;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;

}

ul.course li {
    float: left;
    padding: 10px;
}


ul.course li:after {
    content: "→";
}

ul.course li:last-child:after {
    content: "";
}

.datum {
    float: left;
    width: 49%;
    margin: 0px;
    text-align: center;
    padding-bottom: 40px;
}

.datum__header {
    font-size: 40px;
}

.datum__field {
    font-size: 80px;
}

.datum__unit {
    font-size: 35px;
}


#app{
    max-width: 1000px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

button.actions {
    float: right;

    height: 50px;
    width: 50px;


    background-color: #2d2d2d;
    color: #fdfdfd; 
    border: 1px solid #fdfdfd;

}


