body {
  background-color: #2d2d2d;
  color: #fdfdfd; 
}

.course {
    display: inline-block;
    border: 1px solid #fdfdfd;
    margin: 10px;
}

ul.course li {
    float: left;
    padding: 10px;
}


ul.course li:after {
    content: "→";
}

ul.course li:last-child:after {
    content: "";
}
