<htmL>
  <head>
     <link rel="stylesheet" href="/public/vendor/css/reset.css">
     <link rel="stylesheet" href="/public/css/main.css">


     <script src="/public/vendor/js/underscore-min.js"></script>
     <script src="/public/vendor/js/jquery-3.6.0.min.js "></script>

     <script src="/public/js/app.js"></script>
     <script src="/public/js/events.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>knot-meter</h1>
      <button class="actions">...</button>
      
      <script type="text/template" class="template">
        <ul class="course">
        <% _.each(app.course.marks, function(mark, i){ %>
          <li> <%= mark %> </li>
        <% }); %>
        </ul> 
      </script>

      <div class="datum">
        <div class="datum__header">
          Speed
        </div>
        <div class="datum__field">
          <div id="speed"></div>
        </div>
          <div class="datum__units">
            kts
        </div>
      </div>
      <div class="datum">
        <div class="datum__header">
          Heading
        </div>
        <div class="datum__field">
          <div id="heading"></div>
        </div>
        <div class="datum__units">
          degrees
        </div>
      </div>
      <div class="datum">
        <div class="datum__header">
          Bearing
        </div>
        <div class="datum__field">
          <div id="bearing"></div>
        </div>
        <div class="datum__units">
          dgrees
        </div>
      </div>
      <div class="datum">
        <div class="datum__header">
          Distance
        </div>
        <div class="datum__field">
          <div id="distance"></div>
        </div>
        <div class="datum__units">
          nm
        </div>
      </div>
      <div class="datum">
        <div class="datum__header">
          VMG
        </div>
        <div class="datum__field">
          <div id="vmg"></div>
        </div>
        <div class="datum__units">
          kts
        </div>
      </div>
      <div class="datum">
        <div class="datum__header">
          eta
        </div>
        <div class="datum__field">
          <div id="eta"></div>
        </div>
        <div class="datum__units">
          H:M:S
        </div>
      </div>

    </div>

  </body>
</htmL>
